/*!CK:2491540183!*//*1435558791,*/

.sp_b1lxfIQfBpm{background-image:url(/rsrc.php/v2/y2/r/lzxtKUe7USO.png);background-size:18px 46px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_b1lxfIQfBpm.sx_4743c5{width:16px;height:16px;background-position:0 0}.sp_b1lxfIQfBpm.sx_8df607{background-position:0 -18px}.sp_b1lxfIQfBpm.sx_66c02a{background-position:0 -32px}

#bootloader_iosy4 { height: 42px; }
.bootloader_iosy4 { display:block !important; }