/*!CK:2486800581!*//*1430136915,*/

.sp_waAuFgaEfjn{background-image:url(/rsrc.php/v2/y2/r/sKJr7EEDfyl.png);background-size:54px 184px;background-repeat:no-repeat;display:inline-block;height:52px;width:52px}.sp_waAuFgaEfjn.sx_c43bb3{width:12px;height:12px;background-position:-38px -108px}.sp_waAuFgaEfjn.sx_6235e3{background-position:0 0}.sp_waAuFgaEfjn.sx_615247{background-position:0 -54px}.sp_waAuFgaEfjn.sx_b726bf{width:36px;height:36px;background-position:0 -108px}.sp_waAuFgaEfjn.sx_bab607{width:36px;height:36px;background-position:0 -146px}

#bootloader_17nKE { height: 42px; }
.bootloader_17nKE { display:block !important; }